.filtros {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 98%; 
  margin-top: 70px;
}

.filtros > * {
  margin-right: 10px;
}

.ordens {
  position: absolute;
  margin-top: 30px;
  margin-left: 180px;
}

.ordens table tbody tr td {
  padding-bottom: 10px; /* Espaçamento adicional nas células */
}

.ordem-servico-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  margin-top: 20px;
  text-align: center;
}

.user-table {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  width: 900px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.table-header {
  font-weight: bold;
}

.edit-button-bold {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .filtros {
    position: static; /* Remove a posição absoluta para que a filtragem não sobreponha a tabela */
    justify-content: center; /* Centraliza os filtros */
    width: 100%;
    margin-top: 0;
  }

  .ordens {
    position: static; /* Remove a posição absoluta para que a ordem não sobreponha a tabela */
    margin-top: 10px;
    margin-left: 0;
  }

  .ordens table tbody tr td {
    padding-bottom: 5px; /* Espaçamento adicional nas células para telas menores */
  }

  .ordem-servico-container {
    padding: 10px; /* Reduz o espaço de preenchimento para telas menores */
  }

  .user-table {
    margin-top: 10px;
    width: 70%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    display: block; /* Faz com que as células ocupem toda a largura disponível */
    text-align: center; /* Centraliza o conteúdo nas células */
  }

  th {
    display: none; /* Esconde os cabeçalhos para telas menores */
  }

  td {
    border: 1px solid #ddd;
    padding: 8px;
    margin-bottom: 5px; /* Adiciona espaço entre as células */
  }

  .edit-button-bold,
  .delete-button {
    display: block;
    margin: 0 auto; /* Centraliza os botões */
  }
}